body {
  background-color: black;
  color: green;
  font-family: Verdana;
}

a:link {
  color: #f58427;
}

a:visited {
  color: #ffc34a;
}

a:hover {
  color: #ba1c07;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
